<h1>Your Shift:</h1>
<h2><%= @organisation.name%></h2>
<table class="table table-hover">
  <tr>
    <th>Employee name</th>
    <th>Start Date</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th>Break length (minutes)</th>
    <th>Hours Worked</th>
    <th>Shift Cost</th>
  </tr>
  <% @shifts.each do |shift|%>
   <tr>
    <td><%= shift.user.name%></td>
    <td><%= shift.start.strftime("%Y%M%D")%></td>
    <td><%= shift.start.strftime("%H%M")%></td>
    <td><%= shift.finish.strftime("%H%M")%></td>
    <td><%= shift.break_length%></td>
    <td><%= (((shift.finish - shift.start) / 60) - shift.break_length) / 60%></td>
    <td>$<%= (((shift.finish - shift.start) / 60) - shift.break_length) / 60 * @organisation.hourly_rate%></td>
    <%# <td><%= link_to "Edit", edit_view_shift_path(:id => shift.id)%></td> %>
    </tr>
  <% end %>
</table>