<% if @user %>
  <div>
    <p>You are logged in as: <%= @user.name%></p>
  </div>
  <div>
  <p>Your Organisation: <%= @user.organisation.name%></p>
  </div>
  <h2> Organisations </h2>
  <% @organisation.each do |org| %>
  <div>
   <ul>
     <li>
       <%= org.name %> <%= link_to "Edit", organisations_path %>
    <%= form_with url: join_org_path(org.id, @user.id), method: "patch" do |form| %>
    <%= form.submit "Join" %>
     </li>
   </ul>
  </div>
    <% end %> 
  <% end %> 
  <h2> Create an Organisation </h2>
  <%= form_with url: organisations_path do |form| %>
    <div>
      <p>Name:</p>
      <%= form.text_field :name %>
    </div>
    <div>
      <p>Hourly rate: $</p>
      <%= form.number_field :hourly_rate %>
    </div>
    <%= form.submit "Create and Join" %>
  <% end %> 
<% end %> 